<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header'); %>
</head>

<body>
  <div class="container text-center">

    <%- include('partials/top'); %>
      <hr />
      <br>
      <br>

      <div class="card">
        <div class="card-body">

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" aria-setsize="20" disabled="disabled"
              style="background-color:gray; border: black;">登入</button>
            <button type="button" class="btn btn-primary" aria-setsize="20"
              style="background-color:blue; color:white; border: black;">註冊</button>

          </div>

          <br><br><br>

          <form>
            <div class="form-group">
              帳號 &nbsp&nbsp
              <input type="email" id="InputEmail1" aria-describedby="emailHelp" placeholder="學號/信箱" size="40">
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <br>
              <br>
            </div>

            <div class="form-group">
              密碼 &nbsp&nbsp
              <input type="password" id="InputPassword1" placeholder="Password" size="40">
              &nbsp <a href=" ">忘記密碼?</a>
            </div>

            <br><br>

            <button type="submit" class="btn btn-primary" style="background-color:blue ;">登入</button>

          </form>

        </div>
      </div>


  </div>


</body>

</html>