<div class="row">
    <div class="col align-self-start">
        <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQiT5nyOf1X-sZVtJggiWgGlEET-oQxzpmbjCRjHVFLpfHNT2TIBL5mk1XvkjfSplQsLs8&usqp=CAU" alt="ntou logo">
    </div>
    <div class="col align-self-center">
      <p class="fs-1">海大教室借用系統</p>
    </div>
    <div class="col align-self-end">
      <%= loginStatus %>
    </div>
</div>