<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">
        <%= today %>
      </a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <% for(var i=0; i<navbarItem.length; i++) { %>
      <div class="col-3">
        <%= statusTableColumn[i] %>
      </div>
      <% } %>
  </div>
  <div class="row">

    <% for(var i=0; i<classroomStatus.length; i++) { %>
      <div class="row">
        <div class="col-3">
          <%= i+1 %>
        </div>
        <% for(var j=0; j<classroomStatus[i].length; j++) { %>

          <div class="col-3">
            <%= classroomStatus[i][j] %>
          </div>

          <% } %>
      </div>
      <% } %>
  </div>