<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <%= navbarItem[0] %>
          </a>
        </li>
        <% for(var i=1; i<navbarItem.length; i++) { %>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <%= navbarItem[i] %>
            </a>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
</nav>