<div class="row">
  <div class="col align-self-start">
    <img src="/img/ntouLogo.jpg" alt="ntou logo">
  </div>
  <div class="col align-self-center">
    <p class="fs-1">海大教室借用系統</p>
  </div>
  <div class="col align-self-end">
    <%= loginStatus %>
  </div>
</div>