<div class="row">
  <div class="col align-self-start">
    <a href="/home"><img src="/img/ntouLogo.jpg" alt="ntou logo"></a>
  </div>
  <div class="col align-self-center">
    <p class="fs-1">海大教室借用系統</p>
  </div>
  <div class="col align-self-end">
    <% if (user) { %>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <%- user.username %>
          </button>
          <ul class="dropdown-menu">
            <% if (user.admin) { %>
            <li><a class="dropdown-item" href="/admin">Manage</a></li>
            <% } %>
            <li><a class="dropdown-item" href="/profile">Edit Profile</a></li>
            <li>
              <form action="/users/logout" method="post">
                <input value="Logout" type="submit" class="dropdown-item">
                <input type="hidden" name="_csrf" value="<%- csrfToken %>">
              </form>
            </li>
          </ul>
        </div>
    <% } else { %>
      <a href="/users/login" class="text-primary"> 登入/註冊 </a>
    <% } %>
  </div>
</div>