<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/header"); %>
  </head>
  <body>
    <%- include("sidebar") %>
    <% if (page) { %>
      <div id="content">
        <%- include(page, data) %>
      </div>
    <% } %>
  <%- include("../partials/footer"); %>
  </body>

</html>