<!DOCTYPE html>
<html>
  <head>
    <%- include("../partials/header"); %>
  </head>
  <body>
    <%- include("sidebar") %>
    <% if (page) { %>
      <div id="content">
        <%- include(page, data) %>
      </div>
      <script src="/js/admin/<%- page %>.js"></script>
    <% } %>
  </body>

</html>