<div class="row">
  <div class="col">
    <label for="name" class="form-label"> 課程名稱 </label>
    <input type="text" class="form-control" id="name" value="<%- name %>" required>
  </div>
  <div class="col">
    <label for="teacher" class="form-label"> 授課教師 </label>
    <input type="text" class="form-control" id="teacher" value="<%- teacher %>" required>
  </div>
</div>
<div class="row">
  <div class="col">
    <label for="description" class="form-label"> 課程描述 </label>
    <textarea class="form-control" id="description" rows="3" required><%- description %></textarea>
  </div>
</div>