<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100%;
  background: #f4faff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}

.logo .menu-icon {
  color: #333;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #333;
  font-size: 22px;
  font-weight: 500;
}

nav.open .sidebar {
  left: 0;
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}

.sidebar .sidebar-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}

.sidebar-content .list {
  list-style: none;
}

.list .nav-link {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding: 14px 12px;
  border-radius: 8px;
  text-decoration: none;
}

.lists {
  padding: 0;
}

.lists .nav-link {
  transition: background-color 0.25s ease;
}
.lists .nav-link:hover {
  background-color: #4070f4;
}
.lists .nav-link:hover .icon {
  color: #fff;
}
.lists .nav-link:hover .link {
  color: #fff;
}

.nav-link .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link {
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
</style>

<nav class="position-relative">
  <div class="logo">
    <a data-bs-toggle="offcanvas" href="#sidebar">
    <i class="bx bx-menu menu-icon"></i>
    </a>
    <span class="logo-name">Admin <%- page?` / ${page}` : "" %></span>
  </div>
  <div class="sidebar offcanvas offcanvas-start" id="sidebar">
    <div class="logo">
      <a data-bs-toggle="offcanvas" href="#sidebar">
      <i class="bx bx-menu menu-icon"></i>
      </a>
      <span class="logo-name">Admin <%- page?` / ${page}` : "" %></span>
    </div>

    <div class="sidebar-content">
      <ul class="lists">
        <li class="list">
          <a href="/admin/account" class="nav-link">
            <i class="bx bxs-user-account icon"></i>
            <span class="link"> 帳號管理 </span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bx-message-rounded icon"></i>
            <span class="link"> 借用審核 </span>
          </a>
        </li>
        <li class="list">
          <a href="#" class="nav-link">
            <i class="bx bxs-key icon"></i>
            <span class="link"> 鑰匙歸還 </span>
          </a>
        </li>
        <li class="list">
          <a href="/admin/classroom" class="nav-link">
            <i class="bx bx-table icon"></i>
            <span class="link"> 教室編輯 </span>
          </a>
        </li>
        <li class="list">
          <a href="/admin/lesson" class="nav-link">
            <i class='bx bxs-book-content icon'></i>
            <span class="link"> 課程管理 </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section class="overlay"></section>