<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/header"); %>
</head>

<body>
  <div class="container text-center">
    <!--ntoulogo, title, login state-->
    <%- include("../partials/top"); %>
    <div class="input-group mb-3">
      <button type="button" class="btn btn-outline-primary" onclick="yesterday();"> Yesterday </button>
      <input type="date" name="date" id="date" class="form-control text-center" required>
      <button type="button" class="btn btn-outline-primary" onclick="tomorrow();"> Tomorrow </button>
    </div>
    <div id="curriculum"></div>
  </div>

  <!-- Lesson info modal -->
  <div class="modal fade" id="lessonInfoModal" tabindex="-1" aria-labelledby="lessonInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lessonInfoModalTitle"> 課程資訊 </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="lessonInfo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Classroom modal -->
  <div class="modal fade" id="classroomInfoModal" tabindex="-1" aria-labelledby="classroomInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="classroomInfoModalTitle"> 教室資訊 </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="classroomInfo">
          <div class="row">
            <div class="col">
              <label for="name" class="form-label"> 大樓 </label>
              <input type="text" id="classroomBuilding" class="form-control" value="" disabled>
            </div>
            <div class="col">
              <label for="name" class="form-label"> 樓層 </label>
              <input type="text" id="classroomFloor" class="form-control" value="" disabled>
            </div>
            <div class="col">
              <label for="name" class="form-label"> 教室名稱 </label>
              <input type="text" id="classroomName" class="form-control" value="" disabled>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="name" class="form-label"> 教室容量 </label>
              <input type="text" id="classroomCapacity" class="form-control" value="" disabled>
            </div>
            <div class="col">
              <label for="name" class="form-label"> 教室設備 </label>
              <div id="classroomOptions"></div>
            </div>
            <div class="col">
              <label for="name" class="form-label"> 鑰匙狀態 </label>
              <input type="text" id="classroomKey" class="form-control" value="" disabled>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Borrow modal -->
  <div class="modal fade" id="borrowModal" tabindex="-1" aria-labelledby="borrowModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="borrowModalLabel"> 教室借用 </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="name" class="form-label float-start"> 名稱 </label>
            <input id="borrowName" type="text" class="form-control" value="" required>
          </div>
          <div class="mb-3">
            <label for="borrowTeacher" class="form-label float-start"> 授課教師 </label>
            <input id="borrowTeacher" type="text" class="form-control" value="" required>
          </div>
          <div class="mb-3 row align-items-center">
            <label for="borrowDuring" class="form-label col-3"> 借用 </label>
            <div class="col">
              <input id="borrowDuring" type="number" class="form-control" value="" required>
            </div>
            <label for="borrowDuring" class="form-label col-3"> 節 </label>
          </div>
          <div class="mb-3">
            <label for="borrowReason" class="form-label float-start"> 借用原因 </label>
            <textarea class="form-control" id="borrowReason"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="borrow()" data-bs-dismiss="modal"> 送出申請 </button>
        </div>
      </div>
    </div>
  </div>

  <input id="csrfToken" type="hidden" name="_csrf" value="<%- csrfToken %>">
  <script src="/js/home/curriculum.js"></script>
</body>

</html>